@import "./Colorvariable";
@import "./_query.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $black;
}

.dark-mode {
  background-color: $black;
  color: $white;
}

.mystyle {
  background: $black;
}

/* FONTS STARTS */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBold.woff2") format("woff2"),
    url("Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

img {
  width: 100%;
}

ul,
ol,
li,
a,
h1,
h2,
h3,
h4,
h5,
h5,
p,
span {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

button {
  width: 120px;
  height: 45px;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  font-size: larger;
  font-weight: 600;
  text-transform: capitalize;
  &:hover {
    border: 1px solid #00000040;
  }
}



@mixin fucnflex() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin about-cards($bg) {
  background: $bg;
  padding: 40px 29px 62px;
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  color: aliceblue;

  @include respond-to(medium) {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}

@mixin box($bg, $alignnt) {
  background-color: $bg;
  padding: 40px 29px 62px;
  width: 100%;
  max-width: 400px;
  text-align: $alignnt;
  color: $white;
  border-radius: 22px;

  @include respond-to(medium) {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

// header scss start here
header {
  padding-top: 36px;

  .header-mobile-logo {
    width: 100%;
    max-width: 87px;
  }
  .navbar-nav {
    width: 100%;
    max-width: 358px;
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    color: $black;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $green;
      border-bottom: 1px solid $green;
    }
  }

  .header-btn a {
    background: $green;
    padding: 13px 21px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: $white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }
}
// header scss end here

// hero section scss start here
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .hero-heading {
    width: 100%;
    max-width: 510px;

    h1 {
      font-family: "Montserrat";
      font-size: clamp(3.3rem, 2.5vw, 2rem); 
      font-style: normal;
      font-weight: 800;
      line-height: 68px;
      letter-spacing: 0em;

      // @include respond-to(medium) {
      //   font-size: 43px;
      //   text-align: center;
      // }
    }
    .hero-description {
      width: 100%;
      max-width: 500px;
      p {
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        line-height: 23px;
        letter-spacing: 0em;
      }
    }
    .colored {
      padding-right: 130px;
      color: $aque;
    }
  }
}
// hero section scss end here

// about css start here
.about {
  .about-inner {
    @include fucnflex();
  }

  .about-content {
    width: 50%;
    padding: 2px 60px;
  }
  .about-media {
    width: 50%;
    max-width: 440px;
  }
}

.about {
  .about-wrapper {
    padding: 10px 0px;
    @include fucnflex();
    .about-card {
      &:nth-child(2).about-card {
        @include about-cards($sky-blue);
      }
      @include about-cards($magic-min);

      .about-card-media {
        width: 100%;
        max-width: 170px;
      }
    }
  }
}

.main {
  .main-outer {
    .main-wrapper {
      padding: 20px 0px;
      @include fucnflex();

      .main-box {
        @include box($ight-pink, center);
        &:nth-child(3) {
          @include box($green, center);
        }

        &:nth-child(2) {
          @include box($brown, center);
        }
      }
    }
  }
}

.pricing {
  padding: 30x 0px;

  .pricing-box-wrapper {
    @include fucnflex();
    align-items: flex-end;

    .pricing-box {
      color: black !important;
      h4 {
        font-weight: 900;
      }
      @include box($sky-blue, left);
      &:nth-child(2) {
        h3 {
          font-weight: 700;
          font-size: 55px;
        }
        @include box($melon-bg, left);
      }
      &:nth-child(3) {
        h2 {
          font-weight: 700;
          font-size: 65px;
        }
        @include box($magic-min, left);
      }
    }
  }
}
// about css end here

// category
.category {

  .headingg{
    color: $black;
    padding: 100px 10px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(40px, 5vw, 100px);
  }
  position: relative;
  padding: 40px 0px;
  .category-wrapper {
    @include fucnflex();
    .category-box {
      width: 100%;
      max-width: 400px;
      border: 2px solid #b8a6a6a5;
      padding: 5px;
      margin-right: 10px;
    }

  }

  .ctg-m{
    position: absolute;
    width: 600px;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.979);
     left: 50%;
     transform: translate(-50%);
     top: 30%;
    border-radius: 50px;
    .box-shadow{
      box-shadow: 5px 5px 0px rgba(0 , 0 , 0 , 0.25) , 
                  -5px -5px 0px rgba(0 , 0 , 0 , 0.25)
    ;}
  }
}
