.advised {
  padding-bottom: 120px;

  .col-lg-6 {
    &:nth-of-type(3n) {
      order: 1;

      @include media-breakpoint-down(lg) {
        order: 0;
      }
    }

    &:nth-of-type(4n) {
      order: 0;

      @include media-breakpoint-down(lg) {
        order: 1;
      }
    }

    &:nth-of-type(5) {
      order: 1;

      @include media-breakpoint-down(lg) {
        order: 1;
      }
    }
  }

  .sec-text {
    width: 100%;
    max-width: 577px;
    margin-bottom: 48px;

    h3 {
      @include h3(24px, 36px);
      margin-bottom: 8px;
    }

    ul{
      padding-left: 30px;
      li{
        list-style-type: disc;
      }
    }
  }

  .sec-image {
    width: 100%;
    max-width: 577px;
    margin-bottom: 48px;
  }
}
