.benefit-section {
  padding-bottom: 107px;

  .sec-head {
    text-align: center;
    margin-bottom: 48px;

    h2 {
      margin-bottom: 5px;
    }

    .description {
      width: 100%;
      max-width: 586px;
      margin: 0 auto;
    }
  }
  .sec-item {
    width: 100%;
    max-width: 262px;
    margin: 0 auto;
    margin-bottom: 50px;

    .media {
      width: 100%;
      max-width: 80px;
      margin: 0 auto;
      margin-bottom: 22px;
    }

    h3 {
      @include h3(16px, 1.2);
      text-align: center;
    }

    .description {
      width: 100%;
      max-width: 206px;
      margin: 0 auto;
      text-align: center;
    }
  }

  .benefit-btn {
    text-align: center;
    margin-top: 6px;
    .benefit-cta {
      @include primaryBtn(200px, 400, $white, $btn-bg);
      background: linear-gradient(90deg, #ff6b6b 0%, #a500cd 93.08%);
    }
  }
}
