// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family-base: "Poppins", sans-serif;
// $font-family-secondary: 'Crimson Text', serif;
 $headings-font-family: 'Anton', sans-serif;

// Colors
$body-color: #000000;
$brand-primary: #000000;
$brand-secondary: #008dda;
$bg-gradient: linear-gradient(90deg, #ff6b6b 0%, #a500cd 53%, #0101c5 99%);
$btn-bg: linear-gradient(90deg, #FF6B6B 0%, #A500CD 100%);
$gradient: linear-gradient(90deg, #FF6B6B 0%, #A500CD 100%);
$fill-brown-red: #ff6b6b;
$fill-pink: #a500cd ;
$fill-brown-pink: #e9348b;
$text-color: #7d7d7d;
$white: #ffffff;
$fill-white-v1: #F9F9F9;
$btn-hover: lighten($brand-primary, 5);
$link-color: $brand-primary;
$link-hover: darken($brand-primary, 20);
$fill-grey-light: #f4f4f4;
$fill-grey-v2: #555555;
$ligt-blue: #9eddff;
$fill-black-v1: #2c2927;



/* Font Weights for Google Fonts */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
