.privacy-section {
  padding-bottom: 180px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 85px;
  }

  .media {
    width: 100%;
    max-width: 499px;

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
    }
  }

  .content {
    padding-top: 106px;

    @include media-breakpoint-down(lg) {
      padding-top: 21px;
      text-align: center;
    }

    h2 {
      margin-bottom: 8px;
    }

    .description {
      width: 100%;
      max-width: 635px;

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
      }
    }
  }
}
