.profile-info {
  margin: 136px 0 120px;

  .inner {
    background: $fill-white-v1;
    border-radius: 20px;
    padding: 5px 40px 60px;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;

    .cover-image {
      width: 100%;
      max-width: 261px;
      margin: 0 auto;
      margin-top: -137px;

      .media {
        padding: 16px 24px;
        background: #7e7e7e;
        border-radius: 12px;

        p {
          @include paragraph(14px, 21px);
          color: $white;
          margin-top: 24px;
          text-align: center;
          text-transform: capitalize;
        }
      }

      h3 {
        @include h3(24px, 36px);
        margin-bottom: 8px;
        margin-top: 18px;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }

    .form-title {
      padding: 10px 10px 10px 35px;
      background: $gradient;
      margin-bottom: 24px;
      margin-top: 46px;
      border-radius: 8px;

      h3 {
        @include h3(16px, 24px);
        color: $white;
      }
    }

    .form-list-data {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
          flex-direction: column;
          }

        li {
          width: 47%;
          font-family: $font-family-base;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin: 10px 0 10px;
          @include media-breakpoint-down(md) {
           width: 100%;
            }

          .ms-4{
            color: $text-color;
          }
        }
      }
    }
  }
}
