.services {
  padding: 120px 0 120px;

  .remote-assistance {
    flex-direction: row-reverse;

    .sec-wrapper {
      margin-left: 48px;
      margin-right: -90px;
      position: relative;
      z-index: 2;
      padding-top: 4px;

      @include media-breakpoint-down(lg) {
        margin-left: 0px;
        margin-right: 0px;
      }

      .sec-text {
        padding: 35px 37px 35px 37px;
        h3 {
          @include h3(21px, 29px);
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 55px 0 43px;
  }

  h2 {
    margin-bottom: 50px;
    text-align: center;
  }

  .sec-image {
    width: 100%;
    max-width: 908px;
    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

  

  .sec-wrapper {
    margin-left: -64px;
    @include media-breakpoint-down(lg) {
      margin-left: 0px;
    }
    .sec-text {
      background: $fill-white-v1;
      padding: 40px 40px 40px 42px;
      width: 100%;
      max-width: 458px;
      border-radius: 12px;
      border: 1px solid $fill-brown-red;
      margin-bottom: 32px;

      &:nth-child(2n) {
        margin-bottom: 0px;
      }

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
        margin-bottom: 32px;
        max-width: 622px;
      }

      h3 {
        @include h3(24px, 36px);
        margin-bottom: 16px;
      }

      .description {
        p {
          padding: 0;
        }
      }
    }
  }

  .cognitive-wrapper {
    margin-right: -263px !important;
    @include media-breakpoint-down(lg) {
      margin-right: unset !important;
    }

    .sec-text {
      width: 100% !important;
      max-width: 591px !important;
    }
  }

  .alzheimer-patients{
    margin-left: -178px;
    @include media-breakpoint-down(lg) {
      margin-left: 0px;
    }

    .sec-text{
      max-width: 590px;
    }
  }

}
