.solution {
  padding: 93px 10px;
  background: $fill-white-v1;

  h2{
    text-align: center;
    margin-bottom: 50px;
  }

  .sec-image {
    width: 100%;
    max-width: 700px;
    margin-left: auto;

    @include media-breakpoint-down(lg) {
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }

  .sec-text {
    margin-bottom: 8px;
    background: $gradient;
    padding: 40px 14px 40px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 364px;

    @include media-breakpoint-down(lg) {
      max-width: 567px;
      margin: 0 auto;
      margin-bottom: 8px;
    }

    &:nth-child(2n) {
      margin-bottom: unset;
    }

    h3 {
      @include h3(22px, 30px);
      color: $white;
      margin-bottom: 16px;
    }

    .description {
      p {
        color: $white;
        line-height: 25px;
      }
    }
  }
}
